!.gitignore
.settings/
.project
.cproject
debug/
release/
doxygen/html
doc/
lib/

Makefile
makefile
*.mk
*.exe
*.err
*.lk*
*.sym
*.swp
~*
*~
*.bak
*.map
*.sdf
*.slo
*.lo
*.pdb
*.idb
*.o
*.obj
*.so
*.dll
*.so.*
*.dylib
*.lib
*.lai
*.la
*.a
*.exe
*.out
*.app
*.log
moc_*.cpp
qrc_*.cpp
