.settings/
.project
.cproject
debug/
release/
Makefile
makefile
doxygen/html
doc/
*.mk
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.idb

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
