CWT_CONFIG += debug

#CWT_CONFIG += gprof

unix {
    CWT_WS_DIR   = $$(HOME)/ws
    CWT_LIB_DIR  = $$(HOME)/lib
    CWT_H_DIR    = $$(HOME)/include
    CWT_BIN_DIR  = $$(HOME)/bin
}

win32 {
    CWT_WS_DIR  = \\ws
    CWT_LIB_DIR = \\lib
    CWT_H_DIR   = \\include
    CWT_BIN_DIR = \\bin
}

